body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .navbar {
  background-color: #562eff;
  height: 94px;
  display: flex;
  justify-content: space-between;
} */

/* .logo {
  display: flex;
  justify-content: center;
  align-items: center;
 
  margin-left: 15vw;
} */

/* .logo h3 {
  color: white;
  margin: 5px;
  padding: 5px;
}
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
 
  margin-right: 15vw;
} */

/* .nav-menu a {
  text-decoration: none;
  color: white;
  margin: 20px;
} */
header {
  display: flex;
  justify-content: center;
  background-color: blue;
}

.navbar {
  display: flex;
  width: 930px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;

  display: flex;
  align-items: center;
}

.nav-menu {
  /* width: 300px; */

  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.nav-menu a {
  text-decoration: none;
  margin: 10px;
  color: white;
}

#logo-text {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  color: white;
  font-weight: 700;
}

.user-img {
  margin-right: 0;
  padding-right: 0;
}

.container {
  width: 870px;

  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 30px;
}

.top-player {
  margin-bottom: 70px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 29px;
}

.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player h3 {
  font-size: 18px;
  margin: 16px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 26px;
}
.blog {
  display: flex;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  text-decoration: none;
  font-size: 16px;
  font-size: 16px;
  color: #562eff;
}
.thumbnail img {
  width: 117px;
  height: 117px;
}

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}

.course {
  padding: 16px;
  width: 237px;
  box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.course-banner img {
  width: 100%;
}

.course-info {
  display: flex;
  justify-content: space-between;
}

.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}

@media only screen and (max-width: 688px) {
  .header {
    width: 100%;
  }
  .navbar {
    width: 80%;
  }

  .container {
    width: 60%;
  }

  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-left: 0;
  }
  .player,
  .blog {
    flex-direction: column;
    align-items: center;
  }

  /* .course {
    margin-left: 50px;
  } */
  .section-title {
    text-align: center;
  }
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
  header {
    width: 100%;
  }
  .navbar {
    width: 88%;
  }

  /* .container {
    width: 100%;
  } */
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    width: 80%;
  }
  .courses {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    justify-items: center;
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .course {
    margin-right: 10px;
  }
  .section-title {
    text-align: center;
  }
}

.course-duration {
  background-color: #ffe4e8;
  border-radius: 14px;
  width: 95px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  padding-right: 5px;
}

.course-duration p {
  display: inline;
  padding: 2px;
}
